*{
    margin: 0 auto;
    box-sizing: border-box;
    
}

#conditionTwo, #conditionThree, #conditionFour, #conditionFive, #conditionSix, #conditionSeven, #endingOne,  #endingTwo, #endingThree, #endingFour, #endingFive, #endingSix, #endingSeven, #endingEight {
	display: none;
    font-size: 35px;
    width: 80%;
}

#conditionOne {
    font-size: 35px;
    width: 80%;
}


body{
    background-color: cornsilk;
    text-align: center;
}


select {
    font: inherit;
}

textarea {
    font: inherit;
}

img{
    width: 80%;